{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    
<h1>My Profile</h1>

{% if app.user %}
    <p>
        Pseudo : {{ app.user.pseudo }} <br>
        Email : {{ app.user.email }} <br>
        Register date : {{ app.user.createdAt | date('d-m-Y H:i') }} <br>
        Role(s) : {{ app.user.roles | join(', ') }}
        {# {% for role in app.user.roles %}
            {{ role }}
        {% endfor %} #}
    </p>
{% endif %}

{% endblock %}